/* Thin */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoThin.woff2') format('woff2'),
        url('../fonts/RobotoThin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoThinItalic.woff2') format('woff2'),
        url('../fonts/RobotoThinItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoLight.woff2') format('woff2'),
        url('../fonts/RobotoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/RobotoLight.woff2') format('woff2'),
        url('../fonts/RobotoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoRegular.woff2') format('woff2'),
        url('../fonts/RobotoRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoMedium.woff2') format('woff2'),
        url('../fonts/RobotoMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoMediumItalic.woff2') format('woff2'),
        url('../fonts/RobotoMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBold.woff2') format('woff2'),
        url('../fonts/RobotoBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBoldItalic.woff2') format('woff2'),
        url('../fonts/RobotoBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBlack.woff2') format('woff2'),
        url('../fonts/RobotoBlack.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoBlackItalic.woff2') format('woff2'),
        url('../fonts/RobotoBlackItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/roboto-mono-regular.woff2') format('woff2'),
        url('../fonts/roboto-mono-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
