/*
**
** 	ASTRO POP-UPS
** 	==========================================================================
**	1.4 Notes
**	- Added rux_ and BEM compatible classes to all satcom_ NOTE: satcom_ will be removed in a future version
**	- Removed prefixed transform
**  - Updated colors to WCAG
*/

/* 	REQUIRED CLASSES */
.rux-pop-up {
    font-size: 1rem;
    display: inline-block;

    margin: 1em;

    min-width: 15em;
    position: relative;

    border: 1px solid var(--popupMenuBorderColor);
    background-color: var(--popupMenuBackgroundColor);
    border-radius: 3px;
}

.rux-pop-up ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
    background-color: var(--popupMenuBackgroundColor);
    border-radius: 2px;

    z-index: 2;
}

/* .rux-pop-up li,
.satcom-pop-up li {
  border-bottom: 1px solid #f0f1f3;
} */

.rux-pop-up a {
    display: block;
    padding: 0.5em;
    color: var(--popupMenuTextColor);
    text-decoration: none;

    min-width: 15em;
    max-width: 20em;
}

.rux-pop-up a:hover,
.rux-pop-up li:hover {
    background-color: var(--popupMenuItemHoverBackgroundColor);
    color: var(--popupMenuItemHoverTextColor);
}

.rux-pop-up li:first-child a {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.rux-pop-up li:last-child a {
    border: none;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.rux-pop-up--top {
    border-top: 4px solid var(--popupMenuBorderColor);
}

.rux-pop-up--top::before {
    content: '';
    display: block;
    position: absolute;

    width: 1.1875rem;
    height: 1.1875rem;

    background-color: var(--popupCaretBackgroundColor);
    z-index: 1;

    margin: -12px 0 0 16px;
    transform: rotate(45deg);
}

.rux-pop-up--bottom {
    border-bottom: 4px solid var(--popupMenuBorderColor);
}

.rux-pop-up--bottom::after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 1px solid var(--popupMenuBorderColor);
    border-right: 1px solid var(--popupMenuBorderColor);
    width: 1.1875rem;
    height: 1.1875rem;

    background-color: var(--popupCaretBackgroundColor);

    margin: -7px 0 0 16px;
    transform: rotate(45deg);
}

.rux-pop-up--left {
    border-left: 4px solid var(--popupMenuBorderColor);
}

.rux-pop-up--left::before {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 1px solid var(--popupMenuBorderColor);
    border-left: 1px solid var(--popupMenuBorderColor);
    width: 1.1875rem;
    height: 1.1875rem;

    background-color: var(--popupCaretBackgroundColor);

    margin: 16px 0 0 -12px;
    transform: rotate(45deg);
}

.rux-pop-up--right {
    border-right: 4px solid var(--popupMenuBorderColor);
}

.rux-pop-up--right::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid var(--popupMenuBorderColor);
    border-right: 1px solid var(--popupMenuBorderColor);
    width: 1.1875rem;
    height: 1.1875rem;

    background-color: var(--popupCaretBackgroundColor);

    right: 0;
    margin: 16px -12px 0 0;
    transform: rotate(45deg);
}
