:host {
  position: absolute;
  display: flex;
  flex-direction: column;

  font-size: 0.875rem;
  top: 0;
  height: 100%;
  background-color: #324e69;

  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;

  border: 1px solid #324e69;
  /* transition: border 0.667s ease-in-out; */

  box-sizing: border-box;
  height: 60px;
  /* background-color: red; */
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

:host(.large) {
}

:host(.medium) {
}

:host(.small) {
}

:host(.compact) {
}

:host(.current) {
  border: 1px solid #4dacff;
  transition: border 0.267s ease-in-out;
}

:host([selected]) {
  border: 1px solid #4dacff;
  background-color: black;
}

.rux-region__segment {
  display: flex;
  align-items: center;
  padding: 0 1em;
  margin: 0;
  height: 30px !important;
  line-height: 1;
}

.rux-region__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 50%;
}

:host .rux-region__title {
  white-space: nowrap;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

:host(.standard) .rux-region__title {
}

:host(.medium) .rux-region__title {
}

:host(.small) .rux-region__title {
  width: 45px;
}

:host(.compact) .rux-region__title {
  display: none;
}

.rux-region__header rux-status {
  margin-right: 0.5rem;
}

.rux-region__time {
}

:host .rux-region__time {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 50%;
  color: #bdc3c9;

  /* outline: 1px solid white; */
}

:host(.standard) .rux-region__time {
}

:host(.medium) .rux-region__time {
  /* display: none; */
}

:host(.small) .rux-region__time {
  display: none;
}

:host(.compact) .rux-region__time {
  display: none;
}

.rux-region__time__end-time {
  margin-left: 0.25rem;
}

.rux-region__time__end-time::before {
  content: "-";
  margin-right: 0.25rem;
}
