:host {
  position: relative;
  display: block;
  height: 48px;
  width: 100%;

  box-sizing: border-box;
  overflow: hidden;

  /* background-color: red; */
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.rux-timeline__track {
  position: relative;

  height: 100%;
}

ol {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
