/*
**
** 	ASTRO DROP DOWN
** 	==========================================================================
**	2.0.1 Notes
*/

.rux-select {
  -webkit-appearance: none;
  -moz-appearance: none;

  

  border: 1px solid var(--selectBorderColor, rgb(0, 90, 143));
  border-radius: var(--buttonBorderRadius, 3px);

  color: var(--selectTextColor, rgb(255, 255, 255));
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.125rem;
  padding: 0 1.2rem 0 0.625rem;

  background-color: var(--selectBackgroundColor, rgb(0, 90, 143));
  background-image: var(
    --selectCaret,
    url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M0%200h10L5%205z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E")
  );
  background-position: center right 0.625rem;
  background-repeat: no-repeat;

  user-select: none;
}

.rux-select .rux-select optgroup,
.rux-select option {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.rux-select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.rux-select::-ms-expand {
  display: none;
}

.rux-select:focus::-ms-value {
  background: transparent;
}
