/*
**
** 	ASTRO DROP DOWN
** 	==========================================================================
**	2.0.1 Notes
*/

.rux-select {
  -webkit-appearance: none;
  -moz-appearance: none;

  

  border: 1px solid var(--selectBorderColor);
  border-radius: var(--buttonBorderRadius);

  color: var(--selectTextColor);
  font-family: var(--fontFamily);
  font-size: 1rem;
  line-height: 1.5;
  height: 2.125rem;
  padding: 0 1.2rem 0 0.625rem;

  background-color: var(--selectBackgroundColor);
  background-image: var(--selectCaret);
  background-position: center right 0.625rem;
  background-repeat: no-repeat;

  user-select: none;
}

.rux-select .rux-select optgroup,
.rux-select option {
  color: rgb(0, 0, 0);
  background-color: var(--selectOptBackground);
}

.rux-select .rux-select optgroup:hover,
.rux-select option:hover {
  background-color: var(--selectHoverOptBackgroundColor);
}

.rux-select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.rux-select:focus {
	border-color: var(--selectActiveBorderColor);
	outline-color: var(--selectActiveBorderColor);
}

.rux-select::-ms-expand {
  display: none;
}

.rux-select:focus::-ms-value {
	background: transparent;
	
}
