/*
**
** 	ASTRO DROP DOWN
** 	==========================================================================
**	2.0.1 Notes
*/

.rux-select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px solid var(--selectBorderColor);
  border-radius: var(--buttonBorderRadius) var(--buttonBorderRadius) 0 0;

  color: var(--selectTextColor);
  font-family: var(--fontFamily);
  font-weight: normal;
  font-size: 1rem;
  padding: 0.438rem 3.125rem 0.438rem 0.5rem;

  background-color: var(--selectBackgroundColor);
  background-image: var(--selectCaret);
  background-position: center right 0.625rem;
  background-repeat: no-repeat;
  user-select: none;
}

.rux-select .rux-select optgroup,
.rux-select option {
  color: rgb(0, 0, 0);
  background-color: var(--selectOptBackground);
}

.rux-select .rux-select optgroup:hover,
.rux-select option:hover {
  background-color: var(--selectHoverOptBackgroundColor);
}

.rux-select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border-color:rgb(41, 42, 45)
}

.rux-select:focus {
	outline: none;
  border: 1px solid var(--selectActiveBorderColor);
  border-radius: var(--buttonBorderRadius) var(--buttonBorderRadius) 0 0;
}

.rux-select::-ms-expand {
  display: none;
}

.rux-select:focus::-ms-value {
	background: transparent;
}