/*
**
** 	TABLE
** 	==========================================================================
*/



.rux-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  color: var(--tableRowTextColor, rgb(255, 255, 255));
  border-style: solid;
  border-width: 1px;
  border-color: var(--tableBorderColor, rgb(83, 101, 121));
  background: var(--tableRowBackgroundColor, rgb(32, 50, 70));
  text-align: left;
  overflow: scroll;
}
.rux-table__column-head th,
.rux-table th {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--tableHeaderAccentColor,rgb(40, 63, 88));
  background: var(--tableHeaderBackgroundColor, rgb(24, 38, 53));
  color: var(--tableHeaderTextColor, rgb(169, 178, 188));
  font-weight: 600;
  height:  2.625rem;
  padding: 0.625rem 1rem;
  white-space: nowrap;
}

.rux-table__column-head {
  box-shadow: var(--tableHeaderBoxShadow, 0 0.25rem .5rem rgba(0, 0, 0, 0.45));
  border-top-color: var(--tableBorderColor, rgb(83, 101, 121));
  border-top-width: 1px;
  border-top-style: solid;
}

.rux-table tr[data-selected],
.rux-table tr.selected {
  background: var(--tableRowSelectedBackgroundColor, rgb(40, 63, 88));
}

.rux-table tr:hover {
  background: var(--tableRowHoverBackgroundColor, rgb(24, 38, 53));
}

.rux-table td {
  border-color: var(--tableRowBorderColor, rgb(83, 101, 121));
  border-width: 1px 0;
  border-style: solid;
  padding: 0.625rem 1rem;
  white-space: nowrap;

}

.rux-table__column-head th:first-child,
.rux-table th:first-child,
.rux-table td:first-child {
  padding-left: 1.875rem;

}
.rux-table__column-head th:last-child,
.rux-table th:last-child,
.rux-table td:last-child {
  padding-right: 1.875rem;

}

.rux-table tr:last-child td {

}