
.dark-theme {

	

	--default-blue: #005a8f;
	--default-hover: #0182ce;
	--default-selected-color: #5cb3ff;
	--font-color: #fff;

	--background-start: #061c2a;
	--background-middle: #172f42;
  --background-end: #283f58;
	--background: linear-gradient(to bottom, var(--background-start) 0%, var(--background-middle) 50%, var(--background-end) 100%);


	--button-color: #fff;
	--button-background: var(--default-blue);
	--button-border-top: 1px solid rgba(255, 255, 255, 0.1);
	--button-border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  --button-border-left: 1px solid transparent;
	--button-border-right: 1px solid transparent;

	--button-background--hover: var(--default-hover);

	--default-icon-color: #329fff;
}