 // Start Spec A CSS
 svg {
    background-color: #1b3044 !important;
    margin: 0px 0px 0px 10px;
  }

  .rux-spectrum-analyzer__bar {
    fill: #4586be;
  }

  .rux-spectrum-analyzer__bar-tip {
    fill: #b2bac0;
  }

  text,
  .rux-spectrum-analyzer__main-chart-label {
    fill: #bdc3c9;
  }

  .rux-spectrum-analyzer__main-chart-label {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .rux-spectrum-analyzer__chart-legend {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    fill: #fff;
  }


  g.rux-spectrum-analyzer__axis-label line {
    stroke: none;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

  .grid line {
    stroke: #455d6e;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
  }

  .tick text {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 10px;
    color: #bdc3c9;
    font-weight: 300;
  }
