@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/opensans-light.woff2') format('woff2'),
			 url('/public/fonts/opensans-light.woff') format('woff');
	font-weight: 300;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/opensans-regular.woff2') format('woff2'),
			 url('/public/fonts/opensans-regular.woff') format('woff');
	font-style: normal;	
	font-weight: 500;		 
}
@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/opensans-semmibold.woff2') format('woff2'),
			 url('/public/fonts/opensans-semmibold.woff') format('woff');
	font-style: normal;			 
	font-weight: 600;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/opensans-bold.woff2') format('woff2'),
			 url('/public/fonts/opensans-bold.woff') format('woff');
	font-style: normal;			 
	font-weight: 700;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/opensans-condlight.woff2') format('woff2'),
			 url('/public/fonts/opensans-condlight.woff') format('woff');
	font-style: normal;			 
	font-stretch: condensed;
	font-weight: 300;
}