@import url("variables.css");



body {
	font-family: var(--font-family);
	color: var(--font-color);


	background: var(--background);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}