/* 
**	This is as close as we get to a CSS reset in Astro, moving everything to 
**	the old IE border-box model of including padding in the overall size.
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
**
**
**
*/

body {
  margin: 0;
  padding: 0;
}
