.color-palette {
  outline: 1px solid red;
  display: flex;
  padding: 0;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
}

.index-color {
  margin: 0;

  display: flex;

  width: 50%;
  flex-grow: 1;
  justify-content: stretch;
  align-items: stretch;
  outline: 1px solid blue;
  flex-direction: row;
}

.swatch {
  display: block;
  outline: 1px solid aqua;
  height: 100%;
  flex-grow: 1;
  width: 100%;
}

.index-color__swatch {
  display: block;
  height: 90%;
}

.variant-colors {
  width: 50%;
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 1px solid pink;
  display: flex;
  flex-direction: column;
}
.variant-colors li {
  outline: 1px solid green;
  margin: 0;
}

figcaption {
  display: none;
}
