:host {
  display: inline-block;
  line-height: 0;
  fill: var(--default-icon-color);
  height: var(--icon-size--default, 58px);
  /* width: var(--default-icon-width, 44px); */
  /* outline: 1px solid red; */
}

:host svg {
  height: 100%;
  width: auto;
}

/* small variant */

:host(.rux-icon--small) {
  height: var(--icon-size--small, 32px);
  width: var(--icon-size--small, 32px);
}

/* status symbol icon size */

:host(.rux-icon--status) {
  height: var(--icon-size--status, 12px);
  width: var(--icon-size--status, 12px);
}

:host(.rux-icon--button) {
  height: var(--icon-size--button, 19px);
  width: var(--icon-size--button, 19px);
  fill: var(--icon-color--button);
}

:host(.rux-icon--button--large) {
  height: var(--icon-size--button-large, 24px);
  width: var(--icon-size--button-large, 24px);
}
