/*
**
** 	ASTRO CHECKBOX BUTTON
** 	==========================================================================
**  3.0 Notes
**  - Added Custom CSS Properties to support light/dark theming
**  - Added fallback properties for IE11
**  2.0 Notes
**  - Removed hand cursor on checkbox
**  - Updated styles to Astro 2.0
**	1.4 Notes
**	- Added rux_ and BEM compatible classes to all satcom_ NOTE: satcom_ will be removed in a future version
**	- Removed prefixed linear gradients
**  - Added line-height to label to fix minor alignment issue
**  - Moved user-select to parent element
**  - Removed user-select and placed it in astro.css to apply to all input types
*/

.rux-checkbox {
    display: flex;
    position: relative;
    margin: 0 0 1rem 0;
    line-height: 1.2;
}

.rux-checkbox input[type='checkbox'] {
    -webkit-appearance: none;
    display: none;
}

.rux-checkbox input[type='checkbox'] + label {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: flex-start;

    color: var(--controlLabelColor);
    letter-spacing: 0.5px;
    cursor: pointer;
}

/* Box */
.rux-checkbox input[type='checkbox'] + label::before {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    content: '';

    align-self: start;

    height: var(--controlOptionSize);
    width: var(--controlOptionSize);

    margin: 0 0.625rem 0 0;

    border: 1px solid var(--controlBorderColor);
    background-color: var(--controlOutlineBackgroundColor);
    border-radius: 2px;
}

.rux-checkbox input[type='checkbox'] + label::before {
    border-radius: 2px;
    // background-color: var(--controlSelectedBackgroundColor);
}

.rux-checkbox input[type='checkbox']:checked + label::before {
    border-color: var(--controlBorderColor);
}

.rux-checkbox input[type='checkbox']:not(:disabled):hover + label:before,
.rux-checkbox
    input[type='checkbox']:not(:disabled):checked:hover
    + label:before {
    border-color: var(--controlHoverBorderColor);
}

/* Checkmark */
.rux-checkbox input[type='checkbox']:checked + label::after {
    position: absolute;
    top: 5px;
    display: flex;
    content: '';

    height: 6px;
    width: 12px;
    left: 3px;
    border-right: 2px solid var(--controlTextColor);
    border-top: 2px solid var(--controlTextColor);
    transform: rotate(125deg);
}

.rux-checkbox--indeterminate input[type='checkbox']:checked + label::after {
    width: 10px;
    height: 5px;
    transform: rotate(0deg);
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid var(--controlTextColor);
    left: 4px;
}

.rux-checkbox input[type='checkbox']:disabled + label {
    cursor: var(--disabledCursor);
    opacity: var(--disabledOpacity);
}
