/*
**
** 	ASTRO SELECT
** 	==========================================================================
**	2.0.1 Notes
*/
.rux-select {
  --selectInactiveCaret: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23080c11%22%20d%3D%22M0%200h10L5%205z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
  --selectActiveCaret: url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%225%22%20style%3D%22transform%3A%20rotate%28180deg%29%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23080c11%22%20d%3D%22M0%200h10L5%205z%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');

  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px solid var(--inputBorderColorAlt);
  border-radius: var(--buttonBorderRadius);
  color: var(--inputDark);
  font-family: var(--fontFamily);
  font-weight: normal;
  font-size: 1rem;
  padding: 0.438rem 3.125rem 0.438rem 0.5rem;

  background-color: var(--inputBackground);
  background-image: var(--selectInactiveCaret);
  background-position: center right 0.625rem;
  background-repeat: no-repeat;
  user-select: none;
}

.rux-select .rux-select optgroup,
.rux-select option {
  color: var(--inputDark);
  background-color: var(--inputBackground);
}

.rux-select .rux-select optgroup:hover,
.rux-select option:hover {
  background-color: var(--selectHoverOptBackgroundColor);
}

.rux-select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border-color: var(--inputBorderColorDisabled);
}

.rux-select:disabled:hover{
  cursor: not-allowed;
}

.rux-select:focus {
	outline: none;
  border: 1px solid var(--primary);
  border-radius: var(--buttonBorderRadius);
}

.rux-select:active:not(:disabled){
  background-image: var(--selectActiveCaret);
}

.rux-select:hover {
  cursor: pointer;
}

.rux-select::-ms-expand {
  display: none;
}

.rux-select:focus::-ms-value {
	background: transparent;
}

.rux-select:invalid {
  border: 1px solid var(--inputInvalidBorderColor);
}