:root {
	
	/* Dark Theme Settings */
  --dark-font-color: #fff;
  --dark-sample: rgba(0, 0, 0, 0);
  --dark-button-border-top: rgba(255, 255, 255, 0.1);
  --dark-button-botder-bottom: rgba(0, 0, 0, 0.15);
  --dark-button-start: #055da0;
  --dark-button-end: #0271ca;
  --dark-button: linear-gradient(to bottom, var(--dark-button-start) 0%, var(--dark-button-end) 100%);
  --dark-background-start: #061C2A;
  --dark-background-end: #29425C;
  --dark-background: linear-gradient(to bottom, var(--dark-background-start) 0%, var(--dark-background-end) 100%);
	
	/* Light Theme Settings */
  --light-font-color: rgb(85, 84, 89);
  --light-sample: rgba(0, 0, 0, 0.05);
  --light-button-border-top: rgba(255, 255, 255, 0.1);
  --light-button-botder-bottom: rgba(0, 0, 0, 0.15);
  --light-button-start: rgb(216, 86, 55);
  --light-button-end: rgb(242, 74, 35);
  --light-button: linear-gradient(to bottom, var(--light-button-start) 0%, var(--light-button-end) 100%);
  --light-background-start: rgb(227, 227, 227);
  --light-background-end: rgb(237, 236, 235);
  --light-background: linear-gradient(to bottom, var(--light-background-start) 0%, var(--light-background-end) 100%);
  
  
  /* Status Colors */
  --status-emergency: rgba(244, 18, 46, 1);
  --status-error: rgba(190, 88, 73, 1);
  --status-caution: rgba(247, 229, 59, 1);
  --status-ok: rgba(129, 209, 53, 1);
  --status-standby: rgba(163, 220, 249, 1);
  --status-off: rgba(198, 204, 209, 1);




	
	/* Initial Settings */
  --background: var(--dark-background);
  --button-bg: var(--dark-button);
  --button-top: var(--dark-button-border-top);
  --button-bottom: var(--dark-button-border-bottom);

	--font-family: 'Open Sans', sans-serif;
	--font-size: 1em;
  --font-color: var(--dark-font-color);
  

  --debug: 1px solid red;
}