:root {
  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorGray: rgb(204, 204, 204);

  --colorPrimary: rgb(0, 90, 143);
  --colorSecondary: rgb(77, 172, 255);
  --colorTertiary: rgb(207, 214, 227);

  --colorCritical: rgb(255, 42, 4);
  --colorSerious: rgb(255, 175, 61);
  --colorCaution: rgb(250, 216, 0);
  --colorNormal: rgb(0, 226, 0);
  --colorStandby: rgb(100, 217, 255);
  --colorOff: rgb(142, 154, 163);

  --colorCivilian1: rgb(25, 199, 202);
  --colorCivilian2: rgb(120, 112, 208);
  --colorCivilian3: rgb(160, 13, 190);
  --colorCivilian4: rgb(216, 83, 30);
}
.light-theme {
  --colorBlack: var(--colorBlack);
  --colorWhite: var(--colorWhite);
  --colorGray: var(--colorGray);

  --colorPrimary: var(--colorPrimary);
  --colorSecondary: var(--colorSecondary);
  --colorTertiary: var(--colorTertiary);

  --colorCritical: var(--colorCritical);
  --colorSerious: var(--colorSerious);
  --colorCaution: var(--colorCaution);
  --colorNormal: var(--colorNormal);
  --colorStandby: var(--colorStandby);
  --colorOff: var(--colorOff);

  --colorPrimaryLighten1: color(var(--colorPrimary) tint(20%));
  --colorPrimaryLighten2: color(var(--colorPrimary) tint(40%));
  --colorPrimaryLighten3: color(var(--colorPrimary) tint(60%));
  --colorPrimaryLighten4: color(var(--colorPrimary) tint(80%));
  --colorPrimaryDarken1: color(var(--colorPrimary) shade(20%));
  --colorPrimaryDarken2: color(var(--colorPrimary) shade(40%));
  --colorPrimaryDarken3: color(var(--colorPrimary) shade(60%));
  --colorPrimaryDarken4: color(var(--colorPrimary) shade(80%));

  --colorSecondaryLighten1: color(var(--colorSecondary) tint(20%));
  --colorSecondaryLighten2: color(var(--colorSecondary) tint(40%));
  --colorSecondaryLighten3: color(var(--colorSecondary) tint(60%));
  --colorSecondaryLighten4: color(var(--colorSecondary) tint(80%));
  --colorSecondaryDarken1: color(var(--colorSecondary) shade(20%));
  --colorSecondaryDarken2: color(var(--colorSecondary) shade(40%));
  --colorSecondaryDarken3: color(var(--colorSecondary) shade(60%));
  --colorSecondaryDarken4: color(var(--colorSecondary) shade(80%));

  --colorTertiaryLighten1: color(var(--colorTertiary) tint(20%));
  --colorTertiaryLighten2: color(var(--colorTertiary) tint(40%));
  --colorTertiaryLighten3: color(var(--colorTertiary) tint(60%));
  --colorTertiaryLighten4: color(var(--colorTertiary) tint(80%));
  --colorTertiaryDarken1: color(var(--colorTertiary) shade(20%));
  --colorTertiaryDarken2: color(var(--colorTertiary) shade(40%));
  --colorTertiaryDarken3: color(var(--colorTertiary) shade(60%));
  --colorTertiaryDarken4: color(var(--colorTertiary) shade(80%));
}
