:root {
  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorGray: rgb(204, 204, 204);

  --colorPrimary: rgb(0, 90, 143);
  --colorSecondary: rgb(77, 172, 255);
  --colorTertiary: rgb(40, 63, 88);

  --colorCritical: rgb(255, 48, 48);
  --colorSerious: rgb(255, 176, 0);
  --colorCaution: rgb(248, 231, 29);
  --colorNormal: rgb(91, 255, 0);
  --colorStandby: rgb(128, 224, 255);
  --colorOff: rgb(198, 204, 209);
}

.dark-theme {
  --colorBlack: var(--colorBlack);
  --colorWhite: var(--colorWhite);
  --colorGray: var(--colorGray);

  --colorPrimary: var(--colorPrimary);
  --colorSecondary: var(--colorSecondary);
  --colorTertiary: var(--colorTertiary);

  --colorCritical: var(--colorCritical);
  --colorSerious: var(--colorSerious);
  --colorCaution: var(--colorCaution);
  --colorNormal: var(--colorNormal);
  --colorStandby: var(--colorStandby);
  --colorOff: var(--colorOff);

  --colorPrimaryLighten1: color(var(--colorPrimary) tint(25%));
  --colorPrimaryLighten2: color(var(--colorPrimary) tint(50%));
  --colorPrimaryLighten3: color(var(--colorPrimary) tint(75%));
  --colorPrimaryDarken1: color(var(--colorPrimary) shade(25%));
  --colorPrimaryDarken2: color(var(--colorPrimary) shade(50%));
  --colorPrimaryDarken3: color(var(--colorPrimary) shade(75%));

  --colorSecondaryLighten1: color(var(--colorSecondary) tint(25%));
  --colorSecondaryLighten2: color(var(--colorSecondary) tint(50%));
  --colorSecondaryLighten3: color(var(--colorSecondary) tint(75%));
  --colorSecondaryDarken1: color(var(--colorSecondary) shade(25%));
  --colorSecondaryDarken2: color(var(--colorSecondary) shade(50%));
  --colorSecondaryDarken3: color(var(--colorSecondary) shade(75%));

  --colorTertiaryLighten1: color(var(--colorTertiary) tint(25%));
  --colorTertiaryLighten2: color(var(--colorTertiary) tint(50%));
  --colorTertiaryLighten3: color(var(--colorTertiary) tint(75%));
  --colorTertiaryDarken1: color(var(--colorTertiary) shade(25%));
  --colorTertiaryDarken2: color(var(--colorTertiary) shade(50%));
  --colorTertiaryDarken3: color(var(--colorTertiary) shade(75%));

  --colorCriticalLighten1: color(var(--colorCritical) tint(25%));
  --colorCriticalLighten2: color(var(--colorCritical) tint(50%));
  --colorCriticalLighten3: color(var(--colorCritical) tint(75%));
  --colorCriticalDarken1: color(var(--colorCritical) shade(25%));
  --colorCriticalDarken2: color(var(--colorCritical) shade(50%));
  --colorCriticalDarken3: color(var(--colorCritical) shade(75%));

  --colorSeriousLighten1: color(var(--colorSerious) tint(25%));
  --colorSeriousLighten2: color(var(--colorSerious) tint(50%));
  --colorSeriousLighten3: color(var(--colorSerious) tint(75%));
  --colorSeriousDarken1: color(var(--colorSerious) shade(25%));
  --colorSeriousDarken2: color(var(--colorSerious) shade(50%));
  --colorSeriousDarken3: color(var(--colorSerious) shade(75%));

  --colorCautionLighten1: color(var(--colorCaution) tint(25%));
  --colorCautionLighten2: color(var(--colorCaution) tint(50%));
  --colorCautionLighten3: color(var(--colorCaution) tint(75%));
  --colorCautionDarken1: color(var(--colorCaution) shade(25%));
  --colorCautionDarken2: color(var(--colorCaution) shade(50%));
  --colorCautionDarken3: color(var(--colorCaution) shade(75%));

  --colorNormalLighten1: color(var(--colorNormal) tint(25%));
  --colorNormalLighten2: color(var(--colorNormal) tint(50%));
  --colorNormalLighten3: color(var(--colorNormal) tint(75%));
  --colorNormalDarken1: color(var(--colorNormal) shade(25%));
  --colorNormalDarken2: color(var(--colorNormal) shade(50%));
  --colorNormalDarken3: color(var(--colorNormal) shade(75%));

  --colorStandbyLighten1: color(var(--colorStandby) tint(25%));
  --colorStandbyLighten2: color(var(--colorStandby) tint(50%));
  --colorStandbyLighten3: color(var(--colorStandby) tint(75%));
  --colorStandbyDarken1: color(var(--colorStandby) shade(25%));
  --colorStandbyDarken2: color(var(--colorStandby) shade(50%));
  --colorStandbyDarken3: color(var(--colorStandby) shade(75%));

  --colorOffLighten1: color(var(--colorOff) tint(25%));
  --colorOffLighten2: color(var(--colorOff) tint(50%));
  --colorOffLighten3: color(var(--colorOff) tint(75%));
  --colorOffDarken1: color(var(--colorOff) shade(25%));
  --colorOffDarken2: color(var(--colorOff) shade(50%));
  --colorOffDarken3: color(var(--colorOff) shade(75%));

  --colorGrayLighten1: color(var(--colorGray) tint(25%));
  --colorGrayLighten2: color(var(--colorGray) tint(50%));
  --colorGrayLighten3: color(var(--colorGray) tint(75%));
  --colorGrayDarken1: color(var(--colorGray) shade(25%));
  --colorGrayDarken2: color(var(--colorGray) shade(50%));
  --colorGrayDarken3: color(var(--colorGray) shade(75%));
}
