:root {
  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorGray: rgb(204, 204, 204);

  --colorPrimary: rgb(0, 90, 143);
  --colorSecondary: rgb(77, 172, 255);
  --colorTertiary: rgb(207, 214, 227);

  --colorCritical: rgb(255, 48, 48);
  --colorSerious: rgb(255, 176, 0);
  --colorCaution: rgb(248, 231, 29);
  --colorNormal: rgb(91, 255, 0);
  --colorStandby: rgb(128, 224, 255);
  --colorOff: rgb(198, 204, 209);
}
.light-theme {
  --colorBlack: var(--colorBlack);
  --colorWhite: var(--colorWhite);
  --colorGray: var(--colorGray);

  --colorPrimary: var(--colorPrimary);
  --colorSecondary: var(--colorSecondary);
  --colorTertiary: var(--colorTertiary);

  --colorAlert: var(--colorAlert);
  --colorError: var(--colorError);
  --colorCaution: var(--colorCaution);
  --colorNormal: var(--colorNormal);
  --colorStandby: var(--colorStandby);
  --colorOff: var(--colorOff);

  --colorPrimaryLighten1: color(var(--colorPrimary) tint(25%));
  --colorPrimaryLighten2: color(var(--colorPrimary) tint(50%));
  --colorPrimaryLighten3: color(var(--colorPrimary) tint(75%));
  --colorPrimaryDarken1: color(var(--colorPrimary) shade(25%));
  --colorPrimaryDarken2: color(var(--colorPrimary) shade(50%));
  --colorPrimaryDarken3: color(var(--colorPrimary) shade(75%));

  --colorSecondaryLighten1: color(var(--colorSecondary) tint(25%));
  --colorSecondaryLighten2: color(var(--colorSecondary) tint(50%));
  --colorSecondaryLighten3: color(var(--colorSecondary) tint(75%));
  --colorSecondaryDarken1: color(var(--colorSecondary) shade(25%));
  --colorSecondaryDarken2: color(var(--colorSecondary) shade(50%));
  --colorSecondaryDarken3: color(var(--colorSecondary) shade(75%));

  --colorTertiaryLighten1: color(var(--colorTertiary) tint(25%));
  --colorTertiaryLighten2: color(var(--colorTertiary) tint(50%));
  --colorTertiaryLighten3: color(var(--colorTertiary) tint(75%));
  --colorTertiaryDarken1: color(var(--colorTertiary) shade(25%));
  --colorTertiaryDarken2: color(var(--colorTertiary) shade(50%));
  --colorTertiaryDarken3: color(var(--colorTertiary) shade(75%));

  --colorAlertLighten1: color(var(--colorAlert) tint(25%));
  --colorAlertLighten2: color(var(--colorAlert) tint(50%));
  --colorAlertLighten3: color(var(--colorAlert) tint(75%));
  --colorAlertDarken1: color(var(--colorAlert) shade(25%));
  --colorAlertDarken2: color(var(--colorAlert) shade(50%));
  --colorAlertDarken3: color(var(--colorAlert) shade(75%));

  --colorErrorLighten1: color(var(--colorError) tint(25%));
  --colorErrorLighten2: color(var(--colorError) tint(50%));
  --colorErrorLighten3: color(var(--colorError) tint(75%));
  --colorErrorDarken1: color(var(--colorError) shade(25%));
  --colorErrorDarken2: color(var(--colorError) shade(50%));
  --colorErrorDarken3: color(var(--colorError) shade(75%));

  --colorCautionLighten1: color(var(--colorCaution) tint(25%));
  --colorCautionLighten2: color(var(--colorCaution) tint(50%));
  --colorCautionLighten3: color(var(--colorCaution) tint(75%));
  --colorCautionDarken1: color(var(--colorCaution) shade(25%));
  --colorCautionDarken2: color(var(--colorCaution) shade(50%));
  --colorCautionDarken3: color(var(--colorCaution) shade(75%));

  --colorNormalLighten1: color(var(--colorNormal) tint(25%));
  --colorNormalLighten2: color(var(--colorNormal) tint(50%));
  --colorNormalLighten3: color(var(--colorNormal) tint(75%));
  --colorNormalDarken1: color(var(--colorNormal) shade(25%));
  --colorNormalDarken2: color(var(--colorNormal) shade(50%));
  --colorNormalDarken3: color(var(--colorNormal) shade(75%));

  --colorStandbyLighten1: color(var(--colorStandby) tint(25%));
  --colorStandbyLighten2: color(var(--colorStandby) tint(50%));
  --colorStandbyLighten3: color(var(--colorStandby) tint(75%));
  --colorStandbyDarken1: color(var(--colorStandby) shade(25%));
  --colorStandbyDarken2: color(var(--colorStandby) shade(50%));
  --colorStandbyDarken3: color(var(--colorStandby) shade(75%));

  --colorOffLighten1: color(var(--colorOff) tint(25%));
  --colorOffLighten2: color(var(--colorOff) tint(50%));
  --colorOffLighten3: color(var(--colorOff) tint(75%));
  --colorOffDarken1: color(var(--colorOff) shade(25%));
  --colorOffDarken2: color(var(--colorOff) shade(50%));
  --colorOffDarken3: color(var(--colorOff) shade(75%));

  --color-grayLighten1: color(var(--color-gray) tint(25%));
  --color-grayLighten2: color(var(--color-gray) tint(50%));
  --color-grayLighten3: color(var(--color-gray) tint(75%));
  --color-grayDarken1: color(var(--color-gray) shade(25%));
  --color-grayDarken2: color(var(--color-gray) shade(50%));
  --color-grayDarken3: color(var(--color-gray) shade(75%));

  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-gray: rgb(204, 204, 204);

  --color-primary: rgb(207, 214, 227);
  --color-secondary: rgb(0, 90, 143);
  --color-tertiary: rgb(77, 172, 255);

  --color-alert: rgb(255, 48, 48);
  --color-error: rgb(255, 176, 0);
  --color-caution: rgb(248, 231, 29);
  --color-ok: rgb(91, 255, 0);
  --color-standby: rgb(128, 224, 255);
  --color-off: rgb(198, 204, 209);

  --color-primary--lighten-1: color(var(--color-primary) tint(25%));
  --color-primary--lighten-2: color(var(--color-primary) tint(50%));
  --color-primary--lighten-3: color(var(--color-primary) tint(75%));
  --color-primary--lighten-4: var(--color-white);
  --color-primary--darken-1: color(var(--color-primary) shade(25%));
  --color-primary--darken-2: color(var(--color-primary) shade(50%));
  --color-primary--darken-3: color(var(--color-primary) shade(75%));
  --color-primary--darken-4: var(--color-black);

  --color-secondary--lighten-1: color(var(--color-secondary) tint(25%));
  --color-secondary--lighten-2: color(var(--color-secondary) tint(50%));
  --color-secondary--lighten-3: color(var(--color-secondary) tint(75%));
  --color-secondary--lighten-4: var(--color-white);
  --color-secondary--darken-1: color(var(--color-secondary) shade(25%));
  --color-secondary--darken-2: color(var(--color-secondary) shade(50%));
  --color-secondary--darken-3: color(var(--color-secondary) shade(75%));
  --color-secondary--darken-4: var(--color-black);

  --color-tertiary--lighten-1: color(var(--color-tertiary) tint(25%));
  --color-tertiary--lighten-2: color(var(--color-tertiary) tint(50%));
  --color-tertiary--lighten-3: color(var(--color-tertiary) tint(75%));
  --color-tertiary--lighten-4: var(--color-white);
  --color-tertiary--darken-1: color(var(--color-tertiary) shade(25%));
  --color-tertiary--darken-2: color(var(--color-tertiary) shade(50%));
  --color-tertiary--darken-3: color(var(--color-tertiary) shade(75%));
  --color-tertiary--darken-4: var(--color-black);

  --color-alert--lighten-1: color(var(--color-alert) tint(25%));
  --color-alert--lighten-2: color(var(--color-alert) tint(50%));
  --color-alert--lighten-3: color(var(--color-alert) tint(75%));
  --color-alert--lighten-4: var(--color-white);
  --color-alert--darken-1: color(var(--color-alert) shade(25%));
  --color-alert--darken-2: color(var(--color-alert) shade(50%));
  --color-alert--darken-3: color(var(--color-alert) shade(75%));
  --color-alert--darken-4: var(--color-black);

  --color-error--lighten-1: color(var(--color-error) tint(25%));
  --color-error--lighten-2: color(var(--color-error) tint(50%));
  --color-error--lighten-3: color(var(--color-error) tint(75%));
  --color-error--lighten-4: var(--color-white);
  --color-error--darken-1: color(var(--color-error) shade(25%));
  --color-error--darken-2: color(var(--color-error) shade(50%));
  --color-error--darken-3: color(var(--color-error) shade(75%));
  --color-error--darken-4: var(--color-black);

  --color-caution--lighten-1: color(var(--color-caution) tint(25%));
  --color-caution--lighten-2: color(var(--color-caution) tint(50%));
  --color-caution--lighten-3: color(var(--color-caution) tint(75%));
  --color-caution--lighten-4: var(--color-white);
  --color-caution--darken-1: color(var(--color-caution) shade(25%));
  --color-caution--darken-2: color(var(--color-caution) shade(50%));
  --color-caution--darken-3: color(var(--color-caution) shade(75%));
  --color-caution--darken-4: var(--color-black);

  --color-ok--lighten-1: color(var(--color-ok) tint(25%));
  --color-ok--lighten-2: color(var(--color-ok) tint(50%));
  --color-ok--lighten-3: color(var(--color-ok) tint(75%));
  --color-ok--lighten-4: var(--color-white);
  --color-ok--darken-1: color(var(--color-ok) shade(25%));
  --color-ok--darken-2: color(var(--color-ok) shade(50%));
  --color-ok--darken-3: color(var(--color-ok) shade(75%));
  --color-ok--darken-4: var(--color-black);

  --color-standby--lighten-1: color(var(--color-standby) tint(25%));
  --color-standby--lighten-2: color(var(--color-standby) tint(50%));
  --color-standby--lighten-3: color(var(--color-standby) tint(75%));
  --color-standby--lighten-4: var(--color-white);
  --color-standby--darken-1: color(var(--color-standby) shade(25%));
  --color-standby--darken-2: color(var(--color-standby) shade(50%));
  --color-standby--darken-3: color(var(--color-standby) shade(75%));
  --color-standby--darken-4: var(--color-black);

  --color-off--lighten-1: color(var(--color-off) tint(25%));
  --color-off--lighten-2: color(var(--color-off) tint(50%));
  --color-off--lighten-3: color(var(--color-off) tint(75%));
  --color-off--lighten-4: var(--color-white);
  --color-off--darken-1: color(var(--color-off) shade(25%));
  --color-off--darken-2: color(var(--color-off) shade(50%));
  --color-off--darken-3: color(var(--color-off) shade(75%));
  --color-off--darken-4: var(--color-black);

  --color-gray--lighten-1: color(var(--color-gray) tint(25%));
  --color-gray--lighten-2: color(var(--color-gray) tint(50%));
  --color-gray--lighten-3: color(var(--color-gray) tint(75%));
  --color-gray--lighten-4: var(--color-white);
  --color-gray--darken-1: color(var(--color-gray) shade(25%));
  --color-gray--darken-2: color(var(--color-gray) shade(50%));
  --color-gray--darken-3: color(var(--color-gray) shade(75%));
  --color-gray--darken-4: var(--color-black);
}
