.rux-pushbutton {
  display: block;
  margin: 10px 0; /* Deprecate in 2.0 */
  width: auto;
  font-weight: 600;
}

.rux-pushbutton__input {
  display: none;
  position: relative;
}

.rux-pushbutton__button {
  font-size: 12px;

  display: inline-block;
  width: auto;
  height: 22px;
  min-width: 60px;
  color: #fff;

  /* line-height: 1; */
  cursor: pointer;

  background-color: #005a8f;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  outline: 1px solid #0e1822;
  padding: 1px 20px 0;
  margin: 0;
}

.rux-pushbutton__input:checked + .rux-pushbutton__button .off {
  display: none;
}

.rux-pushbutton__input:checked + .rux-pushbutton__button .on {
  display: block;
  color: #3ae304;
}

.rux-pushbutton__input:checked + .rux-pushbutton__button {
  background-color: #0f1b25;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #101923;
}

.rux-pushbutton__input:not(:checked) + .rux-pushbutton__button .on {
  display: none;
}

.rux-pushbutton__input:disabled + .rux-pushbutton__button {
  opacity: 0.4;
  color: #fff;

  background-color: #005a8f;
  cursor: not-allowed;
}

.rux-pushbutton__input:checked:disabled + .rux-pushbutton__button {
  color: #81b2d9;
  background-color: #005a8f;
}

:host {
  margin: 10px;
  font-weight: 600;

  outline: 0;
  display: block;

  border: 1px solid #101923;
  height: 1.375rem;
  width: 4.375rem;
  position: relative;

  background: linear-gradient(
    to right,
    #005a8f 0%,
    #005a8f 50%,
    #000 50%,
    #000 100%
  );

  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

:host::before,
:host::after {
  display: inline-block;
  font-size: 12px;
  top: 0;
  position: absolute;
  color: #fff;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}

:host::before {
  content: "ON";
  left: 0;
}

:host::after {
  content: "OFF";
  right: 0;
}

.rux-toggle__input {
  display: none;
}

.rux-toggle__button {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  width: 100%;

  cursor: pointer;
  z-index: 20;
}
.rux-toggle__button::after {
  box-sizing: border-box;
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background-color: #005a8f;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  transition: left 0.1s ease-out;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.rux-toggle__input:checked + .rux-toggle__button::after {
  left: 50%;
}

:host([disabled]) {
  opacity: 0.4;
}
.rux-toggle__input:disabled + .rux-toggle__button {
  cursor: not-allowed;
}
