@import url("_dark-theme.css");
@import url("_light-theme.css");
:root {
  /* Initial Settings */
  --background: var(--background);
  /* Typography */
  --font-family: "Open Sans", sans-serif;
  --font-size: 1em;
  --font-color: var(font-color);
  --font-family-condensed: "Open Sans Condensed", sans-serif;
  --font-family-light: "Open Sans Light", sans-serif;
  --font-family-mono: "Roboto Mono", monospace;
  --standard-transition-speed: 0.167s ease-in-out;
  /* --standard-transisiton-effect: ; */
  --slow-transition-speed: 0.367s ease-in-out;
  --icon-size--default: 44px;
  --icon-size--large: 68px;
  --icon-size--small: 28px;
  --icon-size--status: 12px;
  --icon-size--button: 19px;
  /* was 24px */
  --icon-size--button-large: 24px;
  /* was 28px */
  --icon-color: var(--default-icon-color);
  --icon-color--button: #fff;
  --selected-color: #5cb3ff;
  /* Status Colors */
  --status-emergency: var(--color-critical);
  --status-error: var(--color-error);
  --status-caution: var(--color-caution);
  --status-ok: var(--color-ok);
  --status-standby: var(--color-standby);
  --status-off: var(--color-off);

  --color-primary: rgb(0, 90, 143);
  --color-secondary: rgb(40, 63, 88);
  --color-tertiary: rgb(4, 124, 220);

  --color-alert: rgb(255, 48, 48);
  --color-error: rgb(255, 176, 0);
  --color-caution: rgb(248, 231, 29);
  --color-ok: rgb(91, 255, 0);
  --color-standby: rgb(128, 224, 255);
  --color-off: rgb(198, 204, 209);

  --color-primary--lighten-1: rgb(64, 131, 171);
  --color-primary--lighten-2: rgb(128, 173, 199);
  --color-primary--lighten-3: rgb(191, 214, 227);
  --color-primary--lighten-4: rgb(255, 255, 255);
  --color-primary--darken-1: rgb(0, 68, 107);
  --color-primary--darken-2: rgb(0, 45, 72);
  --color-primary--darken-3: rgb(0, 23, 36);
  --color-primary--darken-4: rgb(0, 0, 0);

  --color-secondary--lighten-1: rgb(94, 111, 130);
  --color-secondary--lighten-2: rgb(148, 159, 172);
  --color-secondary--lighten-3: rgb(201, 207, 213);
  --color-secondary--lighten-4: rgb(255, 255, 255);
  --color-secondary--darken-1: rgb(30, 47, 66);
  --color-secondary--darken-2: rgb(20, 32, 44);
  --color-secondary--darken-3: rgb(10, 16, 22);
  --color-secondary--darken-4: rgb(0, 0, 0);

  --color-tertiary--lighten-1: rgb(67, 157, 229);
  --color-tertiary--lighten-2: rgb(130, 190, 238);
  --color-tertiary--lighten-3: rgb(192, 222, 246);
  --color-tertiary--lighten-4: rgb(255, 255, 255);
  --color-tertiary--darken-1: rgb(3, 93, 165);
  --color-tertiary--darken-2: rgb(2, 62, 110);
  --color-tertiary--darken-3: rgb(1, 31, 55);
  --color-tertiary--darken-4: rgb(0, 0, 0);

  --color-alert--lighten-1: rgb(255, 100, 100);
  --color-alert--lighten-2: rgb(255, 152, 152);
  --color-alert--lighten-3: rgb(255, 203, 203);
  --color-alert--lighten-4: rgb(255, 255, 255);
  --color-alert--darken-1: rgb(191, 36, 36);
  --color-alert--darken-2: rgb(128, 24, 24);
  --color-alert--darken-3: rgb(64, 12, 12);
  --color-alert--darken-4: rgb(0, 0, 0);

  --color-error--lighten-1: rgb(255, 196, 64);
  --color-error--lighten-2: rgb(255, 216, 128);
  --color-error--lighten-3: rgb(255, 235, 191);
  --color-error--lighten-4: rgb(255, 255, 255);
  --color-error--darken-1: rgb(191, 132, 0);
  --color-error--darken-2: rgb(128, 88, 0);
  --color-error--darken-3: rgb(64, 44, 0);
  --color-error--darken-4: rgb(0, 0, 0);

  --color-caution--lighten-1: rgb(250, 237, 86);
  --color-caution--lighten-2: rgb(252, 243, 142);
  --color-caution--lighten-3: rgb(253, 249, 199);
  --color-caution--lighten-4: rgb(255, 255, 255);
  --color-caution--darken-1: rgb(186, 173, 22);
  --color-caution--darken-2: rgb(124, 116, 15);
  --color-caution--darken-3: rgb(62, 58, 7);
  --color-caution--darken-4: rgb(0, 0, 0);

  --color-ok--lighten-1: rgb(132, 255, 64);
  --color-ok--lighten-2: rgb(173, 255, 128);
  --color-ok--lighten-3: rgb(214, 255, 191);
  --color-ok--lighten-4: rgb(255, 255, 255);
  --color-ok--darken-1: rgb(68, 191, 0);
  --color-ok--darken-2: rgb(46, 128, 0);
  --color-ok--darken-3: rgb(23, 64, 0);
  --color-ok--darken-4: rgb(0, 0, 0);

  --color-standby--lighten-1: rgb(160, 232, 255);
  --color-standby--lighten-2: rgb(192, 240, 255);
  --color-standby--lighten-3: rgb(223, 247, 255);
  --color-standby--lighten-4: rgb(255, 255, 255);
  --color-standby--darken-1: rgb(96, 168, 191);
  --color-standby--darken-2: rgb(64, 112, 128);
  --color-standby--darken-3: rgb(32, 56, 64);
  --color-standby--darken-4: rgb(0, 0, 0);

  --color-off--lighten-1: rgb(212, 217, 221);
  --color-off--lighten-2: rgb(227, 230, 232);
  --color-off--lighten-3: rgb(241, 242, 244);
  --color-off--lighten-4: rgb(255, 255, 255);
  --color-off--darken-1: rgb(149, 153, 157);
  --color-off--darken-2: rgb(99, 102, 105);
  --color-off--darken-3: rgb(50, 51, 52);
  --color-off--darken-4: rgb(0, 0, 0);
}
