:root {
  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorGray: rgb(204, 204, 204);

  --colorPrimary: rgb(0, 90, 143);
  --colorSecondary: rgb(77, 172, 255);
  --colorTertiary: rgb(207, 214, 227);

  --colorCritical: rgb(255, 48, 48);
  --colorSerious: rgb(255, 176, 0);
  --colorCaution: rgb(248, 231, 29);
  --colorNormal: rgb(91, 255, 0);
  --colorStandby: rgb(128, 224, 255);
  --colorOff: rgb(198, 204, 209);
}
.light-theme {
  --colorBlack: rgb(0, 0, 0);
  --colorWhite: rgb(255, 255, 255);
  --colorGray: rgb(204, 204, 204);

  --colorPrimary: rgb(0, 90, 143);
  --colorSecondary: rgb(77, 172, 255);
  --colorTertiary: rgb(207, 214, 227);

  --colorCritical: rgb(255, 48, 48);
  --colorSerious: rgb(255, 176, 0);
  --colorCaution: rgb(248, 231, 29);
  --colorNormal: rgb(91, 255, 0);
  --colorStandby: rgb(128, 224, 255);
  --colorOff: rgb(198, 204, 209);

  --colorPrimaryLighten1: rgb(64, 131, 171);
  --colorPrimaryLighten2: rgb(128, 173, 199);
  --colorPrimaryLighten3: rgb(191, 214, 227);
  --colorPrimaryDarken1: rgb(0, 68, 107);
  --colorPrimaryDarken2: rgb(0, 45, 72);
  --colorPrimaryDarken3: rgb(0, 23, 36);

  --colorSecondaryLighten1: rgb(122, 193, 255);
  --colorSecondaryLighten2: rgb(166, 214, 255);
  --colorSecondaryLighten3: rgb(211, 234, 255);
  --colorSecondaryDarken1: rgb(58, 129, 191);
  --colorSecondaryDarken2: rgb(39, 86, 128);
  --colorSecondaryDarken3: rgb(19, 43, 64);

  --colorTertiaryLighten1: rgb(219, 224, 234);
  --colorTertiaryLighten2: rgb(231, 235, 241);
  --colorTertiaryLighten3: rgb(243, 245, 248);
  --colorTertiaryDarken1: rgb(155, 161, 170);
  --colorTertiaryDarken2: rgb(104, 107, 114);
  --colorTertiaryDarken3: rgb(52, 54, 57);

  --colorCriticalLighten1: rgb(255, 100, 100);
  --colorCriticalLighten2: rgb(255, 152, 152);
  --colorCriticalLighten3: rgb(255, 203, 203);
  --colorCriticalDarken1: rgb(191, 36, 36);
  --colorCriticalDarken2: rgb(128, 24, 24);
  --colorCriticalDarken3: rgb(64, 12, 12);

  --colorSeriousLighten1: rgb(255, 196, 64);
  --colorSeriousLighten2: rgb(255, 216, 128);
  --colorSeriousLighten3: rgb(255, 235, 191);
  --colorSeriousDarken1: rgb(191, 132, 0);
  --colorSeriousDarken2: rgb(128, 88, 0);
  --colorSeriousDarken3: rgb(64, 44, 0);

  --colorCautionLighten1: rgb(250, 237, 86);
  --colorCautionLighten2: rgb(252, 243, 142);
  --colorCautionLighten3: rgb(253, 249, 199);
  --colorCautionDarken1: rgb(186, 173, 22);
  --colorCautionDarken2: rgb(124, 116, 15);
  --colorCautionDarken3: rgb(62, 58, 7);

  --colorNormalLighten1: rgb(132, 255, 64);
  --colorNormalLighten2: rgb(173, 255, 128);
  --colorNormalLighten3: rgb(214, 255, 191);
  --colorNormalDarken1: rgb(68, 191, 0);
  --colorNormalDarken2: rgb(46, 128, 0);
  --colorNormalDarken3: rgb(23, 64, 0);

  --colorStandbyLighten1: rgb(160, 232, 255);
  --colorStandbyLighten2: rgb(192, 240, 255);
  --colorStandbyLighten3: rgb(223, 247, 255);
  --colorStandbyDarken1: rgb(96, 168, 191);
  --colorStandbyDarken2: rgb(64, 112, 128);
  --colorStandbyDarken3: rgb(32, 56, 64);

  --colorOffLighten1: rgb(212, 217, 221);
  --colorOffLighten2: rgb(227, 230, 232);
  --colorOffLighten3: rgb(241, 242, 244);
  --colorOffDarken1: rgb(149, 153, 157);
  --colorOffDarken2: rgb(99, 102, 105);
  --colorOffDarken3: rgb(50, 51, 52);

  --colorGrayLighten1: rgb(217, 217, 217);
  --colorGrayLighten2: rgb(230, 230, 230);
  --colorGrayLighten3: rgb(242, 242, 242);
  --colorGrayDarken1: rgb(153, 153, 153);
  --colorGrayDarken2: rgb(102, 102, 102);
  --colorGrayDarken3: rgb(51, 51, 51);
}
