/*
**
** 	ASTRO SEGMENTED BUTTON
** 	==========================================================================
**  3.0 Notes
**  Don‘t forget to update Sketch with outline border color

*/

.rux-segmented-buttons {
  display: inline-flex;
  height: 1.6875rem;

  overflow: hidden;

  padding: 0;
  margin: 0;

  list-style: none;

  border-radius: var(--controlBorderRadius, 3px);
  border: 1px solid var(--segmentedButtonBorderColor, rgb(30, 47, 66));
}

.rux-segmented-button {
  height: 1.6875rem;
  width: auto;
  margin: 0;
  padding: 0;
}

.rux-segmented-button label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 1.5625rem;

  margin: 0;
  padding: 0 0.75rem;

  border: none;
  border-right: 1px solid var(--segmentedButtonBorderColor, rgb(30, 47, 66));

  color: var(--segmentedButtonTextColor, #fff);
  background-color: var(--segmentedButtonBackgroundColor, rgb(0, 90, 143));

  font-size: 0.875rem;

  user-select: none;
}

.rux-segmented-button:last-child label {
  border-right: none !important;
}

.rux-segmented-button input {
  display: none !important;
}

.rux-segmented-button label:hover {
  background-color: var(
    --segmentedButtonHoverBackgroundColor,
    rgb(58, 129, 191)
  );
  color: var(--segmentedButtonHoverTextColor, #fff);
  outline: none;
}

.rux-segmented-button input:checked + label {
  background-color: var(
    --segmentedButtonSelectedBackgroundColor,
    rgb(58, 129, 191)
  );
  color: var(--segmentedButtonSelectedTextColor, #fff);
}
