/*
**
** 	ASTRO SEGMENTED BUTTON
** 	==========================================================================
**  3.0 Notes
**  Don‘t forget to update Sketch with outline border color

*/

.rux-segmented-buttons {
  display: inline-block;
  height: 27px;
  overflow: hidden;

  padding: 0;
  margin: 0;

  list-style: none;

  border-radius: var(--controlBorderRadius, 3px);
  border: 1px solid var(--segmentedButtonBorderColor, rgb(30, 47, 66));
}

.rux-segmented-button {
  display: block;
  float: left;
  height: 27px;
  margin: 0;
  padding: 0;
}

.rux-segmented-button label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 25px;

  margin: 0;
  padding: 0 0.75rem;

  border: none;
  border-right: 1px solid var(--segmentedButtonBorderColor, rgb(30, 47, 66));

  color: var(--segmentedButtonTextColor, #fff);
  background-color: var(--segmentedButtonBackgroundColor, rgb(0, 90, 143));

  font-size: 0.875rem;

  user-select: none;
}

.rux-segmented-button:first-child label {
  /* border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; */
}

.rux-segmented-button:last-child label {
  border-right: none;
  /* border-top-right-radius: var(--button__border-radius, 3px);
  border-bottom-right-radius: var(--button__border-radius, 3px); */
}

.rux-segmented-button input {
  display: none;
}

.rux-segmented-button label:hover {
  background-color: var(
    --segmentedButtonHoverBackgroundColor,
    rgb(58, 129, 191)
  );
  color: var(--segmentedButtonHoverTextColor, #fff);
  outline: none;
}

.rux-segmented-button input:checked + label {
  background-color: var(
    --segmentedButtonSelectedBackgroundColor,
    rgb(58, 129, 191)
  );
  color: var(--segmentedButtonSelectedTextColor, #fff);
  /* box-shadow: inset 0 0 0 1px rgba(27, 45, 62, 0.2),
    inset 0 0 4px rgba(0, 0, 0, 0.5); */

  /* box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5),
    inset 0 0 0 -1px rgba(255, 0, 0, 1); */
}

/* .rux-segmented-button:active,
.rux-segmented-button:default:active,
.rux-segmented-button.selected {
  background: #0182ce;
  outline: none;
} */
