/*
**
** 	ASTRO TABS
** 	==========================================================================
**	1.4 Notes
**	- Added rux_ and BEM compatible classes to all satcom_ NOTE: satcom_ will be removed in a future version
**  - Removed prefixed transitions
**  - Removed prefixed gradients
**  - Updated colors for WCAG compliance
**  - Swapped condensed font for standard
**  2.0 Ideas
**  - Replace use a radio-button based structure for tabs? (http://alistapart.com/article/radio-controlled-web-design)
*/


/* 	REQUIRED CLASSES */

.rux-tabs,
.satcom-tabs {
  
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rux-tabs ul,
.satcom-tabs ul {
  font-weight: 300;
  padding: 0;
  margin: 0;
  height: auto;
  
  display: flex;
  list-style: none;
}

.rux-tabs li,
.satcom-tabs li {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rux-tabs li::before,
.satcom-tabs li::before {
  display: none !important;
}

.rux-tabs a,
.satcom-tabs a {
  position: relative;
  height: 100%;
  display: block;
  padding: 1rem 3rem 1.2rem;
  margin: 0;
  font-size: 30px;
  text-decoration: none;
  color: #5CB3FF;

  background: #23384e;
  overflow: show;
  
}




.rux-tabs a::after,
.satcom-tabs a::after {
  position: absolute;
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #000;
  /* opacity: 0; */
  margin: 0;
  
  transition: background 0.367s ease-out;
}




.rux-tabs a:hover:not(:disabled),
.satcom-tabs a:hover:not(:disabled) {
  color: #fff;
}

.rux-tabs a:hover:not(:disabled)::after,
.satcom-tabs a:hover:not(:disabled)::after {
  opacity: 1;
  background: #fff;
  
  transition: opacity 0.167s ease-out;
}


.rux-tabs .selected a,
.satcom-tabs .selected a,
.rux-tabs .selected a:hover,
.satcom-tabs .selected a:hover {
  color: #fff;
}

.rux-tabs .selected a::after,
.satcom-tabs .selected a::after,
.rux-tabs .selected a:hover::after,
.satcom-tabs .selected a:hover::after {
  opacity: 1;
  background: #5cb3ff;

  transition: opacity 0.167s ease-out;
}


.rux-tabs a:disabled {
  opacity: 0.4;
}


/* VARIANT CLASSES */

.satcom-tabs--interior,
.satcom-tabs-interior {
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0.9em;
}

.rux-tabs--interior li,
.satcom-tabs-interior li {
  text-align: center;
  margin-right: 0.3em;
}

.rux-tabs--interior a,
.satcom-tabs-interior a {
  width: 7em;
  height: 100%;
  display: block;
  padding: 1em 0;
  text-decoration: none;
  color: #494949;
  border: none;

  background: linear-gradient(to top, #fff 0%, #efefef 100%);
}



.rux-tabs--interior .selected a,
.rux-tabs--interior .selected a:hover,
.satcom-tabs-interior .selected a,
.satcom-tabs-interior .selected a:hover {
  border-top: 4px solid #7abfe3;
  padding-top: 0.85em;
  border-left: 1px solid #dee2e7;
  border-right: 1px solid #dee2e7;
}

.rux-tabs-interior a:hover,
.satcom-tabs-interior a:hover {
  background: linear-gradient(to top, #fff 0%, #e9f4fa 100%);
}
