.rux-pop-up {
  font-size: 0.875rem;
  display: inline-block;
  
  margin: 1em;
  
  min-width: 15em;
	position: relative;
}


.rux-pop-up ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
  background-color: #fff;
  
  z-index: 2;
}

/* .rux-pop-up li,
.satcom-pop-up li {
  border-bottom: 1px solid #f0f1f3;
} */



.rux-pop-up li:last-child {
  border: none;
}

.rux-pop-up a{
  display: block;
  padding: 0.5em;
  color: #000;
  text-decoration: none;
}


.rux-pop-up a:hover {
  font-weight: 700;
  background-color: #b1d5f2;
}

.rux-pop-up--top {
  border-top: 3px solid #047cdc;
}




.rux-pop-up--top::before {
  content: '';
  display: block;
  position: absolute;
  
  width: 1.1875rem;
  height: 1.1875rem;
  
  background-color: #047cdc;
  z-index: 1;
  
  margin: -13px 0 0 15px;
  transform: rotate(45deg);
}

.rux-pop-up--bottom {
  border-bottom: 3px solid #047cdc;
}

.rux-pop-up--bottom::after {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #047cdc;
  border-right: 1px solid #047cdc;
  width: 1.1875rem;
  height: 1.1875rem;
  
  background-color: #047cdc;
  
  margin: -6px 0 0 10px;
  transform: rotate(45deg);
}

.rux-pop-up--left{
  border-left: 3px solid #047cdc;
}

.rux-pop-up--left::before {
  content: '';
  display: block;
  position: absolute;
  border-bottom: 1px solid #047cdc;
  border-left: 1px solid #047CDC;
  width: 1.1875rem;
  height: 1.1875rem;
  
  background-color: #047CDC;
  
  margin: 8px 0 0 -13px;
  transform: rotate(45deg);
}


.rux-pop-up--right {
  border-right: 3px solid #047CDC;
}

.rux-pop-up--right::before {
  content: '';
  display: block;
  position: absolute;
  border-top: 1px solid #047CDC;
  border-right: 1px solid #047CDC;
  width: 1.1875rem;
  height: 1.1875rem;
  
  background-color: #047CDC;
  
  right: 0;
  margin: 8px -13px 0 0;
  transform: rotate(45deg);
}


/*

  .rux-pop-up--top-left
  .rux-pop-up--top-right
  .rux-pop-up--bottom-left
  .rux-pop-up--bottom-right
  
  .rux-pop-up--left-top
  .rux-pop-up--left-bottom
  .rux-pop-up--top-left

*/