:host {
}

.rux-segmented-buttons {
  display: flex;

  overflow: auto;

  padding: 0;

  list-style: none;
}

.rux-segmented-button label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: 1.5rem;

  padding: 0 0.75rem;

  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid #15057a;

  color: #fff;
  background-color: var(--button-background);

  font-size: 0.875rem;

  cursor: pointer;
}

.rux-segmented-button input {
  display: none;
}

.rux-segmented-button label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rux-segmented-button input:checked + label {
  background-color: var(--button-background--hover);
}

.rux-segmented-button:active,
.rux-segmented-button:default:active,
.rux-segmented-button.selected {
  background: #0182ce;
  outline: none;
}

.rux-segmented-button label:hover {
  background: var(--button-background--hover);
  outline: none;
}
