/* rux tab */
:host,
.rux-tabs__tab {
  flex-grow: 1;
  flex-shrink: 1;

  position: relative;
  height: 5rem;
  max-width: 12rem;
  display: block;
  padding: 1.5rem 1.5rem;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 100;
  text-decoration: none;
  text-align: center;
  color: #5cb3ff;

  /* background: #23384e; */

  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  transition: color var(--standard-transition-speed);
}

:host::before,
.rux-tabs__tab::before {
  position: absolute;
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;

  transition: background-color var(--slow-transition-speed);
}

:host([selected]),
.rux-tabs__tab[selected] {
  /* background: var(--status-standby); */
  color: #fff;
}

:host([selected])::before,
.rux-tabs__tab[selected]::before {
  /* background: var(--status-standby); */
  background-color: var(--selected-color);
}

:host(:hover),
.rux-tabs__tab:hover {
  color: #fff;
}

:host(:hover)::before,
.rux-tabs__tab:hover::before {
  background-color: #fff;
}
