:host,
.rux-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-grow: 1; */
  align-self: flex-start;
  align-content: stretch;
  justify-content: flex-start;

  font-weight: 300;

  contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}

/* rux-panes */
.rux-tabs__panels {
  margin: 0;
  padding: 0;
  display: flex;
  align-self: flex-start;
  contain: content; /* This improves CSS performance see: https://developers.google.com/web/updates/2016/06/css-containment */
}
